<!-- The content below is only a placeholder and can be replaced.
<h1 uniqueId>This should use a shared library</h1>
<sample-component uniqueId></sample-component>
<p uniqueId>This should have an unique id.</p>
<app-my-component></app-my-component> -->

<div class="container-fluid">
    <form class="form-horizontal" [formGroup]="myForm" novalidate (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label class="control-label col-sm-4">Number control</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="firstNumber" formControlName="firstNumber" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4">Number component</label>
            <div class="col-sm-8">
                <app-number-control #numberComponent formControlName="secondNumber" [control]="secondNumber" label="Number component" [isRequired]="true" min=1></app-number-control>
                <div *ngIf="secondNumber.invalid && (secondNumber.dirty || secondNumber.touched)">
                    <div *ngIf="secondNumber.errors.required" class="error-message">
                        A value is required.
                    </div>
                    <div *ngIf="secondNumber.errors.notANumber" class="error-message">
                        You must specify a number.
                    </div>
                    <div *ngIf="secondNumber.errors.min" class="error-message">
                        The value is too small.
                    </div>
                    <div *ngIf="secondNumber.errors.max" class="error-message">
                        The value is too large.
                    </div>
                </div>
            </div>
            

        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-4">
                <button class="btn btn-success" type="submit">Save</button>
                <button class="btn btn-success" type="button" id="setValue" (click)="setValue();">Set value</button>
            </div>
        </div>
    </form>
</div>