<!-- The content below is only a placeholder and can be replaced.
<h1 uniqueId>This should use a shared library</h1>
<sample-component uniqueId></sample-component>
<p uniqueId>This should have an unique id.</p>
<app-my-component></app-my-component> -->

<div class="container-fluid">
    <form class="form-horizontal" [formGroup]="myForm" novalidate (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label class="control-label col-sm-4">Number control</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="firstNumber" formControlName="firstNumber" />
            </div>
        </div>
        <div class="form-group">
                <app-form-row [generalControl]="numberComponent">
                        <app-number-control [id]="'secondNumber'" #numberComponent formControlName="secondNumber" [control]="secondNumber" label="Cena jedn." [isRequired]="true"
                        min=-10 max=103320.45 maxDecimalDigits=2
                        help="Cena jednostkowa za towar bez uwzględnienia rabatów. Szczegóły <small><a href='http://global-solutions.pl'>Pomoc 21342</a></small>"
                        ></app-number-control>
                    </app-form-row>
            
            <!-- <label class="control-label col-sm-4" [for]="numberComponent.id">{{ numberComponent.label }}</label>
            <div class="col-sm-8">
                <app-number-control [id]="'secondNumber'" #numberComponent formControlName="secondNumber" [control]="secondNumber" label="Cena jedn." [isRequired]="true"
                    min=-10 max=103320.45 maxDecimalDigits=2></app-number-control>
                <app-validation-errors [control]="secondNumber" [label]="numberComponent.label"></app-validation-errors>
                 <div *ngIf="secondNumber.invalid && (secondNumber.dirty || secondNumber.touched)">
                    <div *ngIf="secondNumber.errors.required" class="error-message">
                        A value is required.
                    </div>
                    <div *ngIf="secondNumber.errors.notANumber" class="error-message">
                        {{ secondNumber.errors.notANumber }}
                    </div>
                    <div *ngIf="secondNumber.errors.min" class="error-message">
                        {{ secondNumber.errors.min }}
                    </div>
                    <div *ngIf="secondNumber.errors.max" class="error-message">
                        {{ secondNumber.errors.max }}
                    </div>
                    <div *ngIf="secondNumber.errors.maxDecimalDigits" class="error-message">
                        {{ secondNumber.errors.maxDecimalDigits }}
                    </div>
                </div> 
            </div> -->


        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-4">
                <button class="btn btn-success" type="submit">Save</button>
                <button class="btn btn-success" type="button" id="setValue" (click)="setValue();">Set value</button>
            </div>
        </div>
    </form>
</div>