<!-- The content below is only a placeholder and can be replaced.
<h1 uniqueId>This should use a shared library</h1>
<sample-component uniqueId></sample-component>
<p uniqueId>This should have an unique id.</p>
<app-my-component></app-my-component> -->

<div class="container-fluid">
    <form class="form-horizontal" [formGroup]="myForm" novalidate (ngSubmit)="onSubmit()">

        <mko-form-row [generalControl]="numberComponent">
            <mko-number-control [id]="'secondNumber'" #numberComponent formControlName="secondNumber" [control]="secondNumber" label="Cena jedn."
                [isRequired]="true" min=-10 max=103320.45 maxDecimalDigits=2 help="Cena jednostkowa za towar bez uwzględnienia rabatów. Szczegóły <small><a href='http://global-solutions.pl'>Pomoc 21342</a></small>"></mko-number-control>
        </mko-form-row>
        <mko-form-row [generalControl]="fromComponent">
            <mko-number-control [id]="'from'" #fromComponent formControlName="from" [control]="from" label="Wartość od"
                [isRequired]="true" min=0 max=99999 maxDecimalDigits=2 ></mko-number-control>
        </mko-form-row>
        <div class="form-group">
            <!-- <label class="control-label col-sm-4" [for]="numberComponent.id">{{ numberComponent.label }}</label>
            <div class="col-sm-8">
                <mko-number-control [id]="'secondNumber'" #numberComponent formControlName="secondNumber" [control]="secondNumber" label="Cena jedn." [isRequired]="true"
                    min=-10 max=103320.45 maxDecimalDigits=2></mko-number-control>
                <mko-validation-errors [control]="secondNumber" [label]="numberComponent.label"></mko-validation-errors>
                 <div *ngIf="secondNumber.invalid && (secondNumber.dirty || secondNumber.touched)">
                    <div *ngIf="secondNumber.errors.required" class="error-message">
                        A value is required.
                    </div>
                    <div *ngIf="secondNumber.errors.notANumber" class="error-message">
                        {{ secondNumber.errors.notANumber }}
                    </div>
                    <div *ngIf="secondNumber.errors.min" class="error-message">
                        {{ secondNumber.errors.min }}
                    </div>
                    <div *ngIf="secondNumber.errors.max" class="error-message">
                        {{ secondNumber.errors.max }}
                    </div>
                    <div *ngIf="secondNumber.errors.maxDecimalDigits" class="error-message">
                        {{ secondNumber.errors.maxDecimalDigits }}
                    </div>
                </div> 
            </div> -->


        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-4">
                <button class="btn btn-success" type="submit">Save</button>
                <button class="btn btn-success" type="button" id="setValue" (click)="setValue();">Set value</button>
            </div>
        </div>
    </form>
</div>